<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FTDC Parameters Edit Page</title>
</head>
<body>
	<form action="">
		<table>
			<tr>
				<td>Trader Address</td>
				<td>&nbsp;:&nbsp;<input type="text" name="traderAddr"></td>
			</tr>
			<tr>
				<td>Market Address</td>
				<td>&nbsp;:&nbsp;<input type="text" name="mdAddr"></td>
			</tr>
			<tr>
				<td>Application ID</td>
				<td>&nbsp;:&nbsp;<input type="text" name="appId"></td>
			</tr>
			<tr>
				<td>Broker ID</td>
				<td>&nbsp;:&nbsp;<input type="text" name="brokerId"></td>
			</tr>
			<tr>
				<td>Investor ID</td>
				<td>&nbsp;:&nbsp;<input type="text" name="investorId"></td>
			</tr>
			<tr>
				<td>User ID</td>
				<td>&nbsp;:&nbsp;<input type="text" name="userId"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td>&nbsp;:&nbsp;<input type="password" name="password"></td>
			</tr>
			<tr>
				<td>AuthCode</td>
				<td>&nbsp;:&nbsp;<input type="text" name="authCode"></td>
			</tr>
			<tr>
				<td>IP Address</td>
				<td>&nbsp;:&nbsp;<input type="text" name="ipAddr"></td>
			</tr>
			<tr>
				<td>MAC Address</td>
				<td>&nbsp;:&nbsp;<input type="text" name="macAddr"></td>
			</tr>
			<tr>
				<td>Trading Day</td>
				<td>&nbsp;:&nbsp;<input type="text" name="tradingDay"></td>
			</tr>
			<tr>
				<td>Currency Id</td>
				<td>&nbsp;:&nbsp;<input type="text" name="currencyId"
					value="CNY"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Save"></td>
			</tr>
		</table>
	</form>
</body>
</html>